body{
  background-color: rgb(34, 31, 31);
  color: white;
  
}
body {
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  margin: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

#cart {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}
/* card */
.card:hover{
  box-shadow: 2px 2px 10px 2px white;
}

/* hieghhlight------ */
/* crousel */
/* Add this to your CSS file or use a styled-components approach */

.carousel {
  width: 100%;
  overflow: hidden;
}

.slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.hight-b{
  height: 200px;
  width: 800px;

  flex-wrap: wrap;
}
.mob:hover .home-c{
  display: block;
 
}
.heightlight{
width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
  grid-template-columns: 1fr 1fr;
}
.heightlight img{
  width: 50%;
  margin: 10px;
  width: 400px;
  height: 200px;
}