body{
  background-color: black;
  color: white;
  
}
body {
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  margin: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

#cart {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}
